.bills {
  flex-grow: 1;
  max-width: 70%;
  width: 100%;
  margin-right: 2px;
  .title {
    padding: 30px 0;
    margin-bottom: 2px;
    background: url("/img/back680x215.jpg") no-repeat scroll;
    background-size: cover;
    h2 {
      font-size: 36px;
      text-align: center;
      font-weight: bold;
    }
  }
  .bills-stats {
    display: inline-flex;
    width: 100%;
    div {
      flex: 1;
      margin-right: 2px;
      text-align: center;
      background: url("/img/back680x215.jpg") no-repeat scroll center center;
      padding: 60px 0;
      &:last-of-type {
        margin-right: 0;
      }
      span {
        font-size: 24px;
      }
      p {
        margin-top: 10px;
        font-size: 36px;
      }
    }
  }
}

.row {
  display: flex;
  height: 310px;
  overflow: hidden;
}

.bills-progress {
  width: 100%;
  flex-grow: 1;
  max-width: 30%;
  .title {
    background: url("/img/back680x215.jpg") no-repeat scroll;
    background-size: cover;
    font-size: 24px;
    padding: 25px 30px;
    margin-bottom: 2px;
  }
  .graph {
    background: url("/img/back680x215.jpg") no-repeat scroll;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .recharts-wrapper {
    .recharts-surface {
    }
  }
}
