@import "variables";
.login-page {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    position: relative;
    z-index: 10;
    max-width: 300px;
    width: 100%;
    .welcome {
      text-align: center;
      margin-bottom: 30px;
      h1 {
        font-size: 42px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
}

.error {
  margin-top: 20px;
  color: $orange;
  text-align: center;
  font-size: 12px;
  b {
    font-size: 16px;
  }
}