@import "variables";

.sidebar {
  transition: 0.3s all;
  display: block;
  width: 300px;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background: $dark_grape;
  &.fold {
    width: 80px;
    align-items: center;
    display: flex;
    .logo {
      display: none;
    }
    .buttons {
      display: none;
    }
    .find-more {
      display: none;
    }
    .sidebar-menu {
      li {
        a {
          .icon {
            display: block;
          }
          .text {
            display: none;
          }
        }
      }
    }
  }
  .sidebar-menu {
    width: 100%;
    margin-bottom: 90px;
    li {
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 18px "Open Sans", sans-serif;
      a {
        display: flex;
        width: 100%;
        background: transparent;
        height: 100%;
        align-items: center;
        transition: 0.3s all;
        justify-content: center;
        .icon {
          font-size: 24px;
          display: none;
          transition: 0.3s all;
        }
        .text {
          display: block;
        }
        &:hover,
        &.active {
          background: $dark_grape_hover;
        }
      }
    }
  }
  .buttons {
    margin-bottom: 30px;
    .btn:first-of-type {
      margin-bottom: 10px;
    }
  }
  .find-more {
    font: 14px $open_sans;
    text-align: center;
    text-transform: uppercase;
    a {
      font-weight: bold;
    }
  }
}
